<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>Webmedi</display-name>
  <servlet>
    <servlet-name>Faces Servlet</servlet-name>
    <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>Faces Servlet</servlet-name>
    <url-pattern>*.xhtml</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LogarNoSistema</servlet-name>
    <servlet-class>servlets.LogarNoSistemaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogarNoSistema</servlet-name>
    <url-pattern>/LogarNoSistema.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>IncluirEspecialidade</servlet-name>
    <servlet-class>servlets.IncluirEspecialidadeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IncluirEspecialidade</servlet-name>
    <url-pattern>/IncluirEspecialidade.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ValidarDadosAutorizacao</servlet-name>
    <servlet-class>servlets.ValidarDadosAutorizacaoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ValidarDadosAutorizacao</servlet-name>
    <url-pattern>/ValidarDadosAutorizacao.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ConfirmarAutorizacao</servlet-name>
    <servlet-class>servlets.ConfirmarAutorizacaoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConfirmarAutorizacao</servlet-name>
    <url-pattern>/ConfirmarAutorizacao.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ValidarDadosAgendamento</servlet-name>
    <servlet-class>servlets.ValidarDadosAgendamentoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ValidarDadosAgendamento</servlet-name>
    <url-pattern>/ValidarDadosAgendamento.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ConfirmarAgendamento</servlet-name>
    <servlet-class>servlets.ConfirmarAgendamentoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConfirmarAgendamento</servlet-name>
    <url-pattern>/ConfirmarAgendamento.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ConfirmarContingencia</servlet-name>
    <servlet-class>servlets.ConfirmarContingenciaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConfirmarContingencia</servlet-name>
    <url-pattern>/ConfirmarContingencia.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ValidarDadosExecucao</servlet-name>
    <servlet-class>servlets.ValidarDadosExecucaoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ValidarDadosExecucao</servlet-name>
    <url-pattern>/ValidarDadosExecucao.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ConfirmarExecucao</servlet-name>
    <servlet-class>servlets.ConfirmarExecucaoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConfirmarExecucao</servlet-name>
    <url-pattern>/ConfirmarExecucao.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ValidarDadosCancelamento</servlet-name>
    <servlet-class>servlets.ValidarDadosCancelamentoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ValidarDadosCancelamento</servlet-name>
    <url-pattern>/ValidarDadosCancelamento.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ConfirmarCancelamento</servlet-name>
    <servlet-class>servlets.ConfirmarCancelamentoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConfirmarCancelamento</servlet-name>
    <url-pattern>/ConfirmarCancelamento.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ValidarDadosConsultaSaldo</servlet-name>
    <servlet-class>servlets.ValidarDadosConsultaSaldoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ValidarDadosConsultaSaldo</servlet-name>
    <url-pattern>/ValidarDadosConsultaSaldo.do</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>jsp/index.jsp</welcome-file>
  </welcome-file-list>
  <error-page>
    <error-code>403</error-code>
    <location>/jsp/403.jsp</location>
  </error-page>
  <error-page>
    <error-code>404</error-code>
    <location>/jsp/404.jsp</location>
  </error-page>
</web-app>